.agreement {
    a {
        color: #656eea;
    }
    p {
        margin-top: 12px;
        &:first-child {
            margin-top: 0;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    h4 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 16px;
    }
    ul {
        margin-top: 12px;
        margin-left: 24px;
        li {
            margin-top: 10px;
            list-style-type: disc;
        }
    }
    ol {
        margin-top: 12px;
        margin-left: 18px;
        li {
            margin-top: 10px;
            list-style-type: none;
        }
    }

    table {
        width: 100%;
        margin-top: 12px;
        text-align: left;
        border-collapse: collapse;
        thead {
            th {
                font-weight: bold;
            }
        }
        th {
            text-align: center;
        }
        th, td {
            vertical-align: middle;
            padding: 5px 15px;
            border: 1px solid #e0e0e0; 
            ul, ol {
                margin-top: 0;
                margin-left: 18px;
            }
        }
        .space {
            border: none;
        }
    }
}